

<%= form_with(
  model: post,
  local: true,
  html: { multipart: true },
  class: "post-form"
) do |f| %>

   <% if post.errors.any? %>
  <div class="error-messages">
    <ul>
      <% post.errors.messages.each do |attribute, messages| %>
        <% messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "今日の肌" %>
  </div>

  <div class="form-group">
    <%= f.label :date, "日付" %>
    <%= f.date_field :date %>
  </div>

  <div class="form-group">
    <%= f.label :category, "カテゴリ" %>
    <%= f.select :category,
      ["スキンケア", "メイク", "ヘアケア", "ネイル", "その他"],
      include_blank: "選択してください"
    %>
  </div>

  <div class="form-group">
    <%= f.label :rating, "満足度" %>
    <%= f.select :rating, (1..5).to_a, include_blank: "★を選択" %>
  </div>

  <div class="form-group">
    <%= f.label :body, "使用したもの・メモ" %>
    <%= f.text_area :body, rows: 5 %>
  </div>

  <% if post.images.attached? %>
  <div class="current-images">
    <% post.images.each do |image| %>
      <div class="image-item">
        <%= image_tag image, width: 120 %>

        <label>
          <%= check_box_tag "remove_image_ids[]", image.id %>
          削除
        </label>
      </div>
    <% end %>
  </div>
  <% end %>

  <div class="form-group">
  <%= f.label :images, "写真（複数OK）" %>
  <%= f.file_field :images, multiple: true %>
  </div>

  <div class="form-actions">
    <%= f.submit post.persisted? ? "更新する" : "作成する",
          class: "submit-btn" %>
  </div>

<% end %>