<!DOCTYPE html>

<html>
  <head>
    <title>GraduationWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class= "header-area">
      <h1 class="header-title">My Beauty Note</h1>
      <%= link_to "ホーム", root_path, class:"home-btn"%>
    </div>
    <%= yield %>
  </body>
</html>
